[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
sqlalchemy = {extras = ["asyncio"], version = "*"}
alembic = "*"
asyncpg = "*"

[dev-packages]
pylint = "*"
pyright = "*"

[requires]
python_version = "3.12"
